:root {
  --primary-primary: #805BFF;
  --primary-primary-h: #977CFF;
  --primary-primary-p: #643AE2;
  --primary-on-primary: #FFFFFF;
  --primary-primary-container: #F5EEFF;
  --primary-on-primary-container: #B19DFF;
  --primary-primary-fixed: #E7DEFF;
  --primary-primary-fixed-dim: #CCBEFF;
  --primary-on-primary-fixed: #1E0060;
  --primary-on-primary-fixed-variant: #4C12CA;
  --secondary-secondary: #F4F4F4;
  --secondary-secondary-h: #E7E7E7;
  --secondary-secondary-d: #EDEDED;
  --secondary-on-secondary: #000000;
  --secondary-secondary-container: #E1E1E1;
  --secondary-on-secondary-container: #1B1B1B;
  --secondary-secondary-fixed: #E1E1E1;
  --secondary-secondary-fixed-dim: #C5C5C5;
  --secondary-on-secondary-fixed: #1B1B1B;
  --secondary-on-secondary-fixed-variant: #464646;
  --tertiary-tertiary: #62AB03;
  --quinary-quinary: #FF9101;
  --quinary-on-quinary: #FFFFFF;
  --quinary-quinary-container: #FFEEE2;
  --quinary-on-quinary-container: #D77900;
  --quinary-quinary-fixed: #FFDCC1;
  --quinary-quinary-fixed-dim: #FFB778;
  --quinary-on-quinary-fixed: #2E1500;
  --quinary-on-quinary-fixed-variant: #6C3A00;
  --tertiary-on-tertiary: #FFFFFF;
  --tertiary-tertiary-container: #EFFFD9;
  --tertiary-on-tertiary-container: #4B8600;
  --tertiary-tertiary-fixed: #A8F859;
  --tertiary-tertiary-fixed-dim: #8EDB3F;
  --tertiary-on-tertiary-fixed: #0E2000;
  --tertiary-on-tertiary-fixed-variant: #2B5000;
  --error-error: #DD3739;
  --error-on-error: #FFFFFF;
  --error-error-container: #FFDAD7;
  --error-on-error-container: #410004;
  --surface-surface-dim: #E1E1E1;
  --surface-surface-bright: #FFFFFF;
  --surface-on-surface: #000000;
  --surface-on-surface-variant: #5E5E64;
  --surface-surface: #FFFFFF;
  --surface-surface-container-lowest: #FAFAFA;
  --surface-surface-container-low: #FAFAFA;
  --surface-surface-container: #F4F4F4;
  --surface-surface-container-high: #EDEDED;
  --surface-surface-container-highest: #E7E7E7;
  --outline-outline: #C6C6CD;
  --outline-outline-variant: #E7E7EE;
  --outline-outline-primary: #E7DEFF;
  --inverse-inverse-surface: #000000;
  --scrim-scrim: #000000;
  --inverse-inverse-on-surface: #FFFFFF;
  --inverse-inverse-on-surface-h: #FFFFFF;
  --inverse-inverse-on-surface-d: #5E5E5E;
  --inverse-inverse-primary: #CCBEFF;
  --shadow-shadow: #000000;
  --shadow-card: #F2F2F2;
  --state-layers-primary-primary-opa-xs: #805BFF14;
  --state-layers-primary-primary-opa-sm: #805BFF29;
  --state-layers-primary-primary-opa-md: #805BFF3D;
  --state-layers-primary-primary-opa-lg: #805BFF66;
  --state-layers-primary-primary-opa-xl: #805BFFA3;
  --white: #FFFFFF;
  --black: #000000;
  --gradient-surface-1: #303030;
  --blur-1: #FFFFFF3D;
  --gradient-surface-2: #000000;
  --state-layers-surface-on-surface-opa-xs: #292A2E14;
  --state-layers-surface-on-surface-opa-sm: #292A2E29;
  --state-layers-surface-on-surface-opa-md: #292A2E3D;
  --state-layers-surface-on-surface-opa-lg: #292A2E66;
  --state-layers-surface-on-surface-opa-xl: #292A2EA3;
  --opa-back: 0.22;
  --shadow-card-2: #D6CBFF;
  --blur-2: rgba(255, 255, 255, 0.24);
}

[data-theme="Dark Theme"] {
  --primary-primary: #805BFF;
  --primary-primary-h: #977CFF;
  --primary-primary-p: #643AE2;
  --primary-on-primary: #FFFFFF;
  --primary-primary-container: #340098;
  --primary-on-primary-container: #B19DFF;
  --primary-primary-fixed: #E7DEFF;
  --primary-primary-fixed-dim: #CCBEFF;
  --primary-on-primary-fixed: #1E0060;
  --primary-on-primary-fixed-variant: #4C12CA;
  --secondary-secondary: #343434;
  --secondary-secondary-h: #3E3E3E;
  --secondary-secondary-d: #393939;
  --secondary-on-secondary: #FFFFFF;
  --secondary-secondary-container: #303030;
  --secondary-on-secondary-container: #E1E1E1;
  --secondary-secondary-fixed: #E1E1E1;
  --secondary-secondary-fixed-dim: #C5C5C5;
  --secondary-on-secondary-fixed: #1B1B1B;
  --secondary-on-secondary-fixed-variant: #464646;
  --tertiary-tertiary: #62AB03;
  --quinary-quinary: #FF9101;
  --quinary-on-quinary: #FFFFFF;
  --quinary-quinary-container: #2E1500;
  --quinary-on-quinary-container: #D77900;
  --quinary-quinary-fixed: #FFDCC1;
  --quinary-quinary-fixed-dim: #FFB778;
  --quinary-on-quinary-fixed: #2E1500;
  --quinary-on-quinary-fixed-variant: #6C3A00;
  --tertiary-on-tertiary: #FFFFFF;
  --tertiary-tertiary-container: #0E2000;
  --tertiary-on-tertiary-container: #4B8600;
  --tertiary-tertiary-fixed: #A8F859;
  --tertiary-tertiary-fixed-dim: #8EDB3F;
  --tertiary-on-tertiary-fixed: #0E2000;
  --tertiary-on-tertiary-fixed-variant: #2B5000;
  --error-error: #DD3739;
  --error-on-error: #FFFFFF;
  --error-error-container: #930013;
  --error-on-error-container: #FFDAD7;
  --surface-surface-dim: #000000;
  --surface-surface-bright: #282828;
  --surface-on-surface: #FFFFFF;
  --surface-on-surface-variant: #8F9096;
  --surface-surface: #1E1E1E;
  --surface-surface-container-lowest: #282828;
  --surface-surface-container-low: #2C2C2C;
  --surface-surface-container: #303030;
  --surface-surface-container-high: #343434;
  --surface-surface-container-highest: #393939;
  --outline-outline: #45464C;
  --outline-outline-variant: #393939;
  --outline-outline-primary: #15004B;
  --inverse-inverse-surface: #FFFFFF;
  --scrim-scrim: #000000;
  --inverse-inverse-on-surface: #000000;
  --inverse-inverse-on-surface-h: #FFFFFF;
  --inverse-inverse-on-surface-d: #5E5E5E;
  --inverse-inverse-primary: #643AE2;
  --shadow-shadow: #000000;
  --shadow-card: #1B1B1B;
  --state-layers-primary-primary-opa-xs: #805BFF14;
  --state-layers-primary-primary-opa-sm: #805BFF29;
  --state-layers-primary-primary-opa-md: #805BFF3D;
  --state-layers-primary-primary-opa-lg: #805BFF66;
  --state-layers-primary-primary-opa-xl: #805BFFA3;
  --white: #FFFFFF;
  --black: #000000;
  --gradient-surface-1: #303030;
  --blur-1: #1E1E1E3D;
  --gradient-surface-2: #000000;
  --state-layers-surface-on-surface-opa-xs: #C6C6CD14;
  --state-layers-surface-on-surface-opa-sm: #C6C6CD29;
  --state-layers-surface-on-surface-opa-md: #C6C6CD3D;
  --state-layers-surface-on-surface-opa-lg: #C6C6CD66;
  --state-layers-surface-on-surface-opa-xl: #C6C6CDA3;
  --opa-back: 0.28;
  --shadow-card-2: #1B1B1B;
  --blur-2: rgba(48, 48, 48, 0.24);

}

body {
  background: var(--surface-surface);
  color: var(--surface-on-surface);
  transition: background 0.3s, color 0.3s;
}